body, div, form, table, fieldset
{
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	text-align: left;
}

h1
{
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 2px 0;
}

h2
{
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 2px 0;
}

h2 a { text-decoration: none; }

h3
{
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

textarea
{
	font-size: 12px;
}
